/*css reset and some basic stylings*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}	

h1 {
	font-family: 'Lato', sans-serif;
}	

p {
	padding: 25px;
}

.top {
	height: 85px;
	margin: 5px;
	width: auto;
	background-color: #57E85F;
}

.left {
	height: 425px;
	width: 49%;
	margin: 5px;
	background-color: #A9E0FF;
	float: left;
	font-size: 1.5em;
}

.right {
	height: 425px;
	width: 49%;
	margin: 5px;
	background-color: #FFE354;
	float: left;
}

.bottom {
	height: 85px;
	margin: 5px;
	background-color: #E87B53;
	width: auto;
	clear: both;
}

.artTitle {

	font-size: 1.5em;
}



